Govardhan D, 5 min
#gallery-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 1em;
        grid-row-gap: 3em;

        .gallery-item{
            text-align: justify;
            display: flex;
            flex-direction: column;
            
            gap: 1em;
            img{
                border-radius: 5px;
            }
            p{
                font-weight: 700;
                font-size: 18px;
            }
            div{
                font-weight: 700;
                font-size: 18px
            }
        }
        
    }
    a{
        text-decoration: none;
        font-weight: 800;
        font-size: 20px;
        width: 285px;
        height: 70px;
        display: flex;
        margin-top: 3em;
        justify-content: center;
        align-items: center;
        color: #F13E5D;
        background-color: #EDEDED;
        border-width: 1px;
        border-color: #1C1C1D;
        border-style: solid;
        border-radius: 5px;
    }
    a:hover{
        border-bottom: 5px #1C1C1D solid;

    }
}
